header {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(221, 49, 60), orange);
    padding: .5rem;
    margin-bottom: 1rem;
}

p {
    font-weight: bolder;
}

.cityBtn {
    margin: .25rem;
}